* {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #112233;
}

.loader {
  width: 200px;
  height: 200px;
  border: 20px solid #fcd779;
  border-top: 20px solid white;
  animation: move 4s linear infinite;
  border-radius: 50%;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
